<%# HTML correspondiente al index de articulos %>
<%# Ultima actualizacion 25May25 %>
<%= render "shared/navbar" %>

<%# Este archivo es el index de articulos %>
<div class="articles-index-container">

<%# Header correspondiente al titulo de la pagina %>
  <%= render 'shared/header' %>

  <%# Boton para ir hacia atras %>
  <div class="back-button">
    <%= link_to 'Retour', request.referer || root_path, class: 'btn btn-secondary' %>
  </div>

  <%# Division del titulo %>
  <div class="articles-index-title">
    <div class="articles-index-title-card-A">
      <h1>Liste des Articles</h1>
    </div>
    <div class="articles-index-title-card-B">
      <%= link_to '+ Nouvel Article', new_article_path, class: 'btn btn-primary ' %>
    </div>
  </div>

  <%# Division de la tabla %>
  <table class="table">

    <thead>

      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Catégorie</th>
        <th>Actions</th>
      </tr>

    </thead>

    <tbody>
      <% if @articles.present? %>
        <% @articles.each do |article| %>
          <tr>
            <td><%= image_tag article.image_url if article.image_url.present? %></td>
            <td><%= article.name %></td>
            <td><%= article.description %></td>
            <td><%= article.price %></td>
            <td><%= article.category %></td>
            <td>
              <%= link_to 'Voir', article_path(article), class: 'btn btn-info' %>
              <%= link_to 'Éditer', edit_article_path(article), class: 'btn btn-warning' %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <p>No hay artículos disponibles.</p>
      <% end %>




    </tbody>
  </table>


</div>
