<%# HTML correspondiente al index de articulos %>
<%= render "shared/navbar" %>

<div class="articles-index-container">

  <%= render 'shared/header' %>

  <div class="articles-index-title">
    <div class="articles-index-title-card-A">
      <h1>Liste des Articles</h1>
    </div>
    <div class="articles-index-title-card-B">
      <%= link_to '+ Nouvel Article', new_article_path, class: 'btn btn-primary ' %>
    </div>
  </div>


  <table class="table">

    <thead>

      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
        <th>Stock</th>
        <th>Catégorie</th>
        <th>Actions</th>
      </tr>

    </thead>

    <tbody>
      <% if @articles.present? %>
        <% @articles.each do |article| %>
          <tr>
            <td><%= image_tag article.image_url if article.image_url.present? %></td>
            <td><%= article.name %></td>
            <td><%= article.description %></td>
            <td><%= article.price %></td>
            <td><%= article.categorie %></td>
            <td><%= article.stock %></td>
          </tr>
        <% end %>
      <% else %>
        <p>Pas des articles disponibles.</p>
      <% end %>

    </tbody>
  </table>


</div>
