<%# HTML correspondiente a home %>
<%# Ultima actualizacion 25May25 %>

<%# Division general contenedora %>
<div class="home-container">

  <%# Barra de navegacion general %>
  <%= render "shared/navbar" %>

  <%# Header general %>
  <%= render 'shared/header' %>

  <%# Main general %>
  <%= render 'shared/main' %>

  <%# Cartas de creacion %>
  <%= render 'shared/creations_cards' %>

  <%# home intro %>
  <%= render 'shared/home_intro' %>

  <%# Postal cards %>
  <%= render 'shared/postal_cards' %>

  <%# Business cards %>
  <%= render 'shared/business_cards' %>

</div>
