<%# HTML correspondiente a home %>

<div class="home-container">

  <%= render "shared/navbar" %>

  <%= render 'shared/header' %>

  <%# <%= render 'shared/main' %>

  <%# <%= render 'shared/creations_card' %>

  <%# <%= render 'shared/home_intro' %>

  <%# <%= render 'shared/postal_cards' %>

  <%# <%= render 'shared/business_cards' %>

</div>
