<%# HTML correspondiente a home %>
<%# Ultima actualizacion 25May25 %>

<%# Division general contenedora %>
<div class="home-container">

  <%= render "shared/navbar" %>

  <%= render 'shared/header' %>

  <%= render 'shared/main' %>

  <%= render 'shared/creations_cards' %>

  <%= render 'shared/home_intro' %>

  <%= render 'shared/postal_cards' %>

  <%= render 'shared/business_cards' %>

</div>
