<%= render "shared/navbar" %>

<%= render 'shared/header' %>



<h1>All Users</h1>
<ul>
  <% @users.each do |user| %>
    <li><%= user.email %></li>
    <li><%= user.created_at %></li>
    <li><%= user.updated_at %></li>
  <% end %>
</ul>
