<%= render "shared/navbar" %>

<%= render 'shared/header' %>

<h1>Utilisateurs</h1>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
